build/
Build/
out/
bin/
obj/

CMakeLists.txt.*
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

*.log
*.tmp
*.cache

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out

.qtcreator/
.vscode/
.idea/

*.zip
*.tar
*.gz
*.7z

.env
.env.*

*.gcov

*.autosave

